@model List<Product>

<div class="row">

    <div class="col-sm-8 offset-sm-2">
        <h2>List of Products</h2>
        <a asp-controller="Products" asp-action="Create" class="btn btn-success mb-3">Create</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.Stock</td>
                        <td>@item.Category?.Name</td>
                        <td>
                            <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>

                        </td>
                        <td>
                            <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


